header {
    background-color: orange;
    height: 200px;
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#addName {
    background-color: purple;
    color: white;
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.prompt {
    margin: 25px 10px;
}

#section2 {
    display: flex;
}

.list {
    min-height: 925px;
    width: 50%;
    background-color: green;
    color: white;
    border: 10px solid black;
    font-size: 25px;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  

.entryContainer {
    margin: 5px 10px;
} 

.entryBtn {
    display: inline-flex;
    margin: 0px 5px;
}